<head>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
    <link href="/css/settings.css" rel="stylesheet" type="text/css">
</head>

<body>
<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<% if (alert) { %>
  <div class="alert success"><strong>成功！</strong> <%= alert %></div><br>
<% } %>
<h1 class="guild_name"><%= guild.name %></h1>
<form class="setting" style="margin-top: 1em;" method="POST"> <!-- method="post" triggers a POST request to the same url with the body of the form control inputs -->
    <h3>指令前綴</h3>
    <label class="material-textfield-outlined">
        <input type="text" name="prefix" value="<%= settings.prefix %>" placeholder=" " required>
        <span>指令前綴*</span>
    </label>
    <br>
    <button class="material-button-contained" type="submit">儲存設定</button>
</form>
<%- include("partials/footer") %>